<div class="container">
<h1 class="cyan-text text-darken-2"><strong>Pawsh</strong></h1>
<h5>Find and review locations for you and your dogs.</h5>

<br>
<br>

<div class="row">
    <div class="col s4 center-align">
        <a href="pages/parks" class="places-description">
            <i class="large material-icons grey-text text-darken-3 child">local_florist</i>
            <p class="grey-text text-darken-3 child">Dog Parks</p>
        </a>    
    </div>
    <div class="col s4 center-align">
        <a href="pages/restaurants" class="places-description">
            <i class="large material-icons grey-text text-darken-3 child">local_dining</i>
            <p class="grey-text text-darken-3 child">Restaurants</p>
        </a>
    </div>
    <div class="col s4 center-align">
        <a href="pages/hotels" class="places-description">
            <i class="large material-icons grey-text text-darken-3 child">local_hotel</i>
            <p class="grey-text text-darken-3 child">Hotels</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col s4 center-align">
        <a href="pages/veterinarians" class="places-description">
            <i class="large material-icons grey-text text-darken-3 child">local_hospital</i>
            <p class="grey-text text-darken-3 child">Veterinarians</p>
        </a>
    </div>
    <div class="col s4 center-align">
            <a href="pages/groomers" class="places-description">
                <i class="large material-icons grey-text text-darken-3 child">content_cut</i>
                <p class="grey-text text-darken-3 child">Groomers</p>
            </a>
    </div>
    <div class="col s4 center-align">
        <a href="pages/stores" class="places-description">
            <i class="large material-icons grey-text text-darken-3 child">store</i>
            <p class="grey-text text-darken-3 child">Pet Stores</p>
        </a>
    </div>
</div>

<br>
<br>
</div> <!-- End of container -->

<% location_count = @locations.count - 1 %>

<div class="featured">
<div class="row grey lighten-4">
    <div class="container">
        <br>
        <h5 class="center-align cyan-text text-darken-2">Featured</h5>
        <br>
        <div class="row center-align">
            <% random_num = rand(0..location_count) %>
            <div class="col s3">
                <div class="hoverable">
                    <% loc_url = "/locations/" + @locations[random_num].id.to_s %>
                    <%= link_to loc_url do %>
                        <div class="card">
                            <div class="card-image">
                                <%= image_tag get_random_image(@locations[random_num]), style: "width: 100%" %>
                            </div>
                            <div class="card-content">
                                <p class="red-text text-accent-2"><%= @locations[random_num].name %></p>
                                <br>
                                <% temp_num = 0 %>
                                <% average = average_location_review @locations[random_num] %>
                                <% while temp_num < average do %>
                                    <i class="material-icons red-text text-accent-2">star</i>
                                    <% temp_num += 1%>
                                <% end%>
                                <br>
                                <%= @locations[random_num].address %>
                            </div>
                        </div> 
                    <% end %>
                </div>    
            </div>
            <% random_num = rand(0..location_count) %>
            <div class="col s3">
                <div class="hoverable">
                    <% loc_url = "/locations/" + @locations[random_num].id.to_s %>
                    <%= link_to loc_url do %>
                        <div class="card">
                            <div class="card-image">
                                <%= image_tag get_random_image(@locations[random_num]), style: "width: 100%" %>
                            </div>
                            <div class="card-content">
                                <p class="red-text text-accent-2"><%= @locations[random_num].name %></p>
                                <br>
                                <% temp_num = 0 %>
                                <% average = average_location_review @locations[random_num] %>
                                <% while temp_num < average do %>
                                    <i class="material-icons red-text text-accent-2">star</i>
                                    <% temp_num += 1%>
                                <% end%>
                                <br>
                                <%= @locations[random_num].address %>
                            </div>
                        </div> 
                    <% end %>
                </div>    
            </div>
            <% random_num = rand(0..location_count) %>
            <div class="col s3">
                <div class="hoverable">
                    <% loc_url = "/locations/" + @locations[random_num].id.to_s %>
                    <%= link_to loc_url do %>
                        <div class="card">
                            <div class="card-image">
                                <%= image_tag get_random_image(@locations[random_num]), style: "width: 100%" %>
                            </div>
                            <div class="card-content">
                                <p class="red-text text-accent-2"><%= @locations[random_num].name %></p>
                                <br>
                                <% temp_num = 0 %>
                                <% average = average_location_review @locations[random_num] %>
                                <% while temp_num < average do %>
                                    <i class="material-icons red-text text-accent-2">star</i>
                                    <% temp_num += 1%>
                                <% end%>
                                <br>
                                <%= @locations[random_num].address %>
                            </div>
                        </div> 
                    <% end %>
                </div>    
            </div>
            <% random_num = rand(0..location_count) %>
            <div class="col s3">
                <div class="hoverable">
                    <% loc_url = "/locations/" + @locations[random_num].id.to_s %>
                    <%= link_to loc_url do %>
                        <div class="card">
                            <div class="card-image">
                                <%= image_tag get_random_image(@locations[random_num]), style: "width: 100%" %>
                            </div>
                            <div class="card-content">
                                <p class="red-text text-accent-2"><%= @locations[random_num].name %></p>
                                <br>
                                <% temp_num = 0 %>
                                <% average = average_location_review @locations[random_num] %>
                                <% while temp_num < average do %>
                                    <i class="material-icons red-text text-accent-2">star</i>
                                    <% temp_num += 1%>
                                <% end%>
                                <br>
                                <%= @locations[random_num].address %>
                            </div>
                        </div> 
                    <% end %>
                </div>    
            </div>
        </div>

        <br>

    </div>
</div>
</div>