<div class="container">
<h1>Edit <%= @location.name %></h1>

<div class="row">
<%= form_for @location do |f| %>
    <div class="input-field">
        <%= f.text_field :name %>
        <%= f.label :name, class: "active" %>
    </div>
    <div class="input-field">
        <%= f.text_field :address %>
        <%= f.label :address, class: "active" %>
    </div>
    <div class="input-field">
        <%= f.text_field :phone %>
        <%= f.label :phone, class: "active" %>
    </div>
    <div class="input-field">
        <%= f.select :description, options_for_select([["Dog Park", "park"], ["Restaurant", "restaurant"], ["Hotel", "hotel"], ["Veterinarian", "vet"], ["Groomer", "groomer"], ["Pet Store", "store"]], params[:description]) %>
        <%= f.label :description %>
    </div>
    <%= f.submit "Edit #{@location.name}", class: "waves-effect waves-teal btn" %>
<% end %>
</div>

<%= link_to "Delete", location_path(@location), method: :delete, data: { confirm: "Are you sure? " }, class: "waves-effect waves-teal btn" %>
<br>
<br>
<%= link_to "Back", location_path(@location), class: "waves-effect waves-teal btn" %>
</div>

<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>