<nav class="nav-center teal lighten-2">
    <div class="nav-wrapper container ">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/pages/parks">Dog Parks</a></li>
            <li><a href="/pages/restaurants">Restaurants</a></li>
            <li><a href="/pages/hotels">Hotels</a></li>
            <li><a href="/pages/veterinarians">Veterinarians</a></li>
            <li><a href="/pages/groomers">Groomers</a></li>
            <li><a href="/pages/stores">Pet Stores</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>All Locations</h1>
    <div class="map"></div>
    <br>
    <%= link_to "Enter new location", new_location_path, class: "waves-effect waves-teal btn" %>
    <ul>
        <% @locations.each do |loc|  %>
            <div class="divider"></div>
            <br>
            <li class="row">
                <div class="col s2">
                    <% unless loc.images[0].image_file_name.nil? %>
                        <%= image_tag loc.images[0].image.url(:thumb), style: "height: 80px; width: 80px", class: "center-block" %>
                    <% else %>
                        <%= image_tag "default-pic.jpg", alt: "Default location picture", style: "height: 80px; width: 80px", class: "center-block" %>
                    <% end %>
                </div>
                <div class="col s5">
                    <%= link_to loc.name, location_path(loc), class: "red-text text-accent-2" %>
                </div>
                <div class="col s5">
                    <%= loc.address %>
                    <br>
                    <%= loc.phone %>
                    <br>
                    <%= loc.description.capitalize %>
                </div>
            </li>
        <% end %>
    </ul>
    <br>

    <script>
        var locations = [
            <% @locations.each do |loc| %>
                    {
                        name: <%= raw loc.name.to_json %>,
                        address: <%= raw loc.address.to_json %>,
                        phone: <%= raw loc.phone.to_json %>
                    },
            <% end %>
        ];    
        var geocoder;
        var map;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(34.0686, -117.9389);
            var mapOptions = {
                zoom: 10,
                center: latlng
            }
            map = new google.maps.Map(document.getElementsByClassName("map")[0], mapOptions);
            for (var i = 0; i < locations.length; i++){
                geocoder.geocode({"address": locations[i].address}, function(results, status) {
                    if (status == "OK") {
                        marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location,
                        });
                        marker.addListener('click', function(){
                            var infowindow = new google.maps.InfoWindow({
                                content: ''+
                                    '<div id="content">' +
                                        '<div id="siteNotice"></div>'+
                                        '<h5 id="firstHeading" class="firstHeading">' + locations[i].name + '</h5>'+
                                        '<div id="bodyContent">'+
                                            '<div>Address: ' + locations[i].address + '</div>' +
                                            '<div>Phone: ' + locations[i].phone + '</div>' +
                                        '</div>' +
                                    '</div>'
                            });
                            infowindow.open(map, marker);
                        })
                    } else {
                        alert("Geocode was not successful for the folloing reason: " + status);
                    }
                });
            }    
        }
         
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3kNig-HJCa4zbIaarBJsvoAAN8O1OcWU&callback=initMap"></script>


    

</div>