<div class="container">
    <div class="row">
        <h1 class="center">Create a new location</h1>
        <div class="col s6 offset-s3">
            <%= link_to "Back", locations_path, class: "waves-effect waves-teal btn right" %>
            <p id="alert" class="red-text text-accent-2"><%= alert %></p>
            <%= form_for @location do |f| %>
                <div class="input-field">
                    <%= f.text_field :name %>
                    <%= f.label :name, class: "active" %>
                </div>
                <div class="input-field">
                    <%= f.text_field :address %>
                    <%= f.label :address, class: "active" %>
                </div>
                <div class="input-field">
                    <%= f.text_field :phone %>
                    <%= f.label :phone %>
                </div>
                <div class="input-field">
                    <%= f.select :description, options_for_select([["Dog Park", "park"], ["Restaurant", "restaurant"], ["Hotel", "hotel"], ["Veterinarian", "vet"], ["Groomer", "groomer"], ["Pet Store", "store"]], params[:description]) %>
                    <%= f.label :description %>
                </div>
                <div class="input-field file-field">
                    <div class="btn">
                        <span>Upload a picture</span>
                        <%= f.file_field :image %>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <br>
                <%= f.submit "Create a new location", class: "waves-effect waves-teal btn" %>
            <% end %>
        </div>
    </div>
    <br>
</div>    

<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>