<div class="container">
<h1><%= @location.name %></h1>
    
<%= @location.address %>
<%= @location.phone %>
<%= @location.description %>

<br>
<% if @location.user.id == session[:user_id] %>
    <%= link_to "Edit location", edit_location_path(@location), class: "waves-effect waves-teal btn" %>
<% end %>

<%= link_to "Back", locations_path, class: "waves-effect waves-teal btn" %>
<br>

<ul>
 <% @location.images.each do |img| %>
<li>
    <%= image_tag img.image.url(:thumb) %>
</li>    
<% end %>
</ul>


<h2>Enter a review</h2>
<%= form_for [@location, @review] do |f| %>
    <div class="input-field">
        <%= f.select :rating, options_for_select([["5 - Good", 5], ["4", 4], ["3", 3], ["2", 2], ["1 - Bad", 1]], params[:rating]) %>
        <%= f.label :rating %>
    </div>
    <div class="input-field">
        <%= f.text_area :comment, class: "materialize-textarea" %>
        <%= f.label :comment %>
    </div>
    <%= f.submit "Enter review", class: "waves-effect waves-teal btn" %>
<% end %>

<ul>
<% @location.reviews.each do |review| %>
    <li>
        Rating: <%= review.rating %> - Comment: <%= review.comment %> - <%= review.location_id%>
        <% if review.user_id == session[:user_id] %>
            <%= link_to "Edit", edit_review_path(review), class: "red-text text-accent-2" %>
        <% end %>
    </li>
<% end %>
</ul>
</div>

<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>