<div class="container">
<h1><%= @location.name %></h1>
    
<%= @location.address %>
<%= @location.phone %>
<%= @location.description %>

<br>
<%= link_to "Edit location", edit_location_path(@location), class: "waves-effect waves-teal btn" %>
<%= link_to "Back", locations_path, class: "waves-effect waves-teal btn" %>
<br>

<h2>Enter a review</h2>
<%= form_for [@location, @review] do |f| %>
    <div>
        <%= f.label :rating %>
        <%= f.text_field :rating %>
    </div>
    <div>
        <%= f.label :comment %>
        <%= f.text_area :comment %>
    </div>
    <%= f.submit "Enter review", class: "waves-effect waves-teal btn" %>
<% end %>

<ul>
<% @location.reviews.each do |review| %>
    <li>
        Rating: <%= review.rating %> - Comment: <%= review.comment %> - <%= review.location_id%>
        <%= link_to "Edit", edit_review_path(review), class: "red-text text-accent-2" %>
    </li>
<% end %>
</ul>
</div>